<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>assync ui framework</display-name>
 
  <filter>
    <filter-name>CORS_filter</filter-name>
    <filter-class>net.bloberry.async_ui.dpe.servlets.URIFilter</filter-class>
  </filter>
 
  <filter-mapping>
    <filter-name>CORS_filter</filter-name>
    <url-pattern>/skiplagged.com/*</url-pattern>
  </filter-mapping>
   
  <servlet>
    <display-name>Load On Startup Servlet</display-name>
    <servlet-name>Load On Startup Servlet</servlet-name>
    <servlet-class>net.bloberry.async_ui.dpe.servlets.LoadOnStartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet> 
 
   <servlet>
    <display-name>PushUpServlet</display-name>
    <servlet-name>PushUpServlet</servlet-name>
    <servlet-class>net.bloberry.async_ui.dpe.servlets.PushUpServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>LoadStaticContentServlet</display-name>
    <servlet-name>LoadStaticContentServlet</servlet-name>
    <servlet-class>net.bloberry.async_ui.dpe.servlets.LoadStaticContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushUpServlet</servlet-name>
    <url-pattern>/pushupService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadStaticContentServlet</servlet-name>
    <url-pattern>/ui/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>ui/Menu.html</welcome-file>
  </welcome-file-list>
</web-app>