<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
    	<param name="ConversionPattern" value="%d{HH:mm:ss,SSS}[%5p]%c{1} - %m%n"/>
    </layout>
	<filter class="org.apache.log4j.varia.LevelRangeFilter">
		<param name="LevelMin" value="DEBUG" />
		<param name="LevelMax" value="WARN" />
	</filter>
  </appender>
  <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.err"/>
    <layout class="org.apache.log4j.PatternLayout">
    	<param name="ConversionPattern" value="[%5p]%c{1}:%L  - %m%n"/>
    </layout>
	<filter class="org.apache.log4j.varia.LevelRangeFilter">
		<param name="LevelMin" value="ERROR" />
		<param name="LevelMax" value="FATAL" />
	</filter>
  </appender>
  <appender name="LOGFILE" class="org.apache.log4j.DateFormatRollingFileAppender"> 
	<param name="Append" value="false"/> 
	<param name="File" value="'${catalina.home}/logs/gctMobile' dd-MMM-yyyy HH-mm-ss'.log'"/> 
	<param name="MaxFileSize" value="60000"/>
	<param name="MaxBackupIndex" value="0"/>
	<layout class="org.apache.log4j.PatternLayout"> 
	<param name="ConversionPattern" value="%d{MM-dd-yyyy\tHH:mm:ss}\t%-5p\t[%c{1}]\t%m\t%n"/> 
	</layout> 
	<filter class="org.apache.log4j.varia.LevelRangeFilter">
		<param name="LevelMin" value="DEBUG" />
		<param name="LevelMax" value="FATAL" />
	</filter>
  </appender>
  <logger name="com.gct.mobile"  additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    	<appender-ref ref="stderr"/>
    	<appender-ref ref="LOGFILE"/>
  </logger>
  <logger name="org.apache.tomcat.jdbc.pool" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    	<appender-ref ref="stderr"/>
    	<appender-ref ref="LOGFILE"/>
  </logger>
  <root>
    <priority value ="warn"></priority>
    <appender-ref ref="stdout"/>
    <appender-ref ref="stderr"/>
    <appender-ref ref="LOGFILE"/> 
  </root>

</log4j:configuration> 
